# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Local build/output
vendor/

# Archives/torrents
Feudalism_archive.torrent

# Misc
*.log
flashplayer_sa.exe